
<footer class="page-footer">
  <div class="footer-wrap">
    <div class="resume-footer">
      <a href="/resume" target="_blank"><h5 class="white-text">View my Resume</h5></a>
      <p>Currently living in [Haram, Giza, Egypt].</p>
      <p>phone : +201021186028</p>
      <p>Email : omarwaelattia96@gmail.com</p>
    </div>
    <br><br>
    <div class="social-footer">
      <h5 class="white-text">Let's Talk!</h5><br>
      <ul class="social_list">
        <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/omarwael/" target="_blank"></a></li>
        <li class="github"><i class="fa fa-github"></i><a href="https://github.com/omar1890" target="_blank"></a></li>
      </ul>
    </div>
  </div>
  <div class="footer-copyright">
     © 2022 OMAR WAEL
  </div>
</footer>
