<!-- Navbar Component -->
<app-navbar></app-navbar>

<!-- Homepage html -->

<!-- Top of Page With Opening Graphs Section -->

<div class="top">
  <div class="top-wrapper" id="top">
      <app-simplebarchart *ngIf="fakecasesbar" [data]="fakecasesbar">
      </app-simplebarchart>
      <app-simplelinechart *ngIf="fakecases" [data]="fakecases">
      </app-simplelinechart>
      <div class="callout_jumbo">
        <div class="typewriter">
          <div class="line1">
            Hello, welcome <br> to my portfolio.
          </div>
        </div>
      </div>
  </div>
</div>

<!-- About Me Section -->

<div class="aboutme-nav" id="aboutme-nav">
  <div class="aboutme-header">About Me</div>
  <div class="aboutme-wrapper">
    <div class="svg-wrapper-me">
      <!-- EDIT CONTENT BELOW -->
        <img class="photo-me" src="../../../assets/headshot.png" />
        <h5 class="aboutme-context"><span class='highlight'><strong>Hey!</strong> I'm Omar, a <strong>Data Scientist</strong> passionate about<br> Machine Learning,<br> Software Engineering.</span></h5>
        <a href='/resume'  class="waves-effect waves-light btn square-btn navigate">My Resume</a>
      </div>
    <!-- <div class="callout-wrapper">
      <div class="svg-wrapper-callout1" >
        <div class="call-out">
          <h5 class="aboutme-context"><span class='highlight'>Callout box</span></h5>
        </div>
      </div>
      <div class="svg-wrapper-callout2">
        <div class="call-out">
          <h5 class="aboutme-context"><span class='highlight'>Another callout box</span>
          </h5>
        </div>
      </div>
    </div> -->
  </div>
</div>



<!-- This is the projects content that will show on a larger screen (not mobile) -->

<div class="projects-div" id="navigate">
  <div class="projects-header">Projects</div>
  <div class="projects-wrapper"  *ngIf="!mobile">

    <!-- <div class="project_one">
    </div> -->

    <div class="project_one_context">
      <div class='proj-wrapper'>
        <p class="project_description">
            <!-- EDIT CONTENT BELOW -->
          <a href='https://github.com/omar1890/Evaluting_Football_Players_Actions'><h5 class="project_title"><span class='highlight-title'>Football Analytics - VAEP Model</span></h5></a>
            <span class='highlight-desc'>
              - Load, Preprocessing wyscout dataset <br>
              - Feature Engineering over players Actions <br>
              - split dataset train, test over various competitions <br>
              - Apply and compare between different ML Algorithms <br>
              - Evalute predictions <br>
              - calculate players's ranks<br>
              - build a dashboard  <br>
              - generate a 2 video for goals with 2d map <br>
              - build a django application <br>

            </span>
        </p>
        <a href='https://github.com/omar1890/Evaluting_Football_Players_Actions' class="waves-effect waves-light btn square-btn navigate">Explore</a>
      </div>
    </div>
    <hr>

    <div class="project_two_context">
      <div class='proj-wrapper'>
        <p class="project_description">
              <!-- EDIT CONTENT BELOW -->
          <a href='https://github.com/omar1890/Simpsons_Recognition-' target='_blank'><h5 class="project_title"><span class='highlight-title'>Simpsons Characters Recognition</span></h5></a>
          <span class='highlight-desc'>
            Working on Character Simpsons dataset (Kaggle) to apply character recognition
            - OpenCV - Tensorflow - python
          </span>
        </p>
        <a href='https://github.com/omar1890/Simpsons_Recognition-' target="_blank" class="waves-effect waves-light btn square-btn navigate">Explore</a>
      </div>
    </div>
    <!-- <div class="project_two">
    </div>

    <div class="project_three">
    </div> -->
    <hr>

    <div class="project_three_context">
      <div class='proj-wrapper'>
        <p class="project_description">
            <!-- EDIT CONTENT BELOW -->
          <a href='https://github.com/omar1890/Arabic_Sentiment_Twitter_Corpus'><h5 class="project_title"><span class='highlight-title'>Arabic Sentiment Twitter Corpus</span></h5></a>
          <span class='highlight-desc'>working on Arabic Sentiment Twitter Corpus dataset (Kaggle)
            applying <br>- CountVectorizer <br>- TFIDF <br>- Svm<br> - Logistic Regression
             </span>
        </p>
        <a href='https://github.com/omar1890/Arabic_Sentiment_Twitter_Corpus' class="waves-effect waves-light btn square-btn navigate">Explore</a>
      </div>
    </div>
    <hr>

  <div class="project_four_context">
    <div class='proj-wrapper'>
      <p class="project_description">
          <!-- EDIT CONTENT BELOW -->
        <a href='https://github.com/omar1890/wuzzuf_dataset'><h5 class="project_title"><span class='highlight-title'>Wuzzuf Dataset Analysis</span></h5></a>
          <span class='highlight-desc'>Explore, clean,visualize and Prepare data for model, using <br>-Java <br>-spark  <br>- Spring boot
          </span>
      </p>
      <a href='https://github.com/omar1890/wuzzuf_dataset' class="waves-effect waves-light btn square-btn navigate">Explore</a>
    </div>
  </div>
  <!-- <div class="project_four">
  </div>


    <div class="project_five">
    </div> -->
<hr>
    <div class="project_five_context">
      <div class='proj-wrapper'>
        <p class="project_description">
            <!-- EDIT CONTENT BELOW -->
          <a href='https://github.com/omar1890/Dashboard_Average_Salaries_in_Saudi_Arabia'><h5 class="project_title"><span class='highlight-title'>Average Salaries in Saudi Arabia Dashboard</span></h5></a>
            <span class='highlight-desc'>Building an interactive dashboard with plots then deploy it on Heroku
              using: <br>-Dash<br> - Plotly <br>- python <br>- deployment on Heroku
            </span>
        </p>
        <a href='https://average-salaries-dashboard.herokuapp.com/'  target="_blank" class="waves-effect waves-light btn square-btn navigate">Go to site</a>
      </div>
    </div>

  </div>

  <!-- This is the projects content that will show on a mobile device -->
  <!-- <div class="projects-wrapper"  *ngIf="mobile">

    <div class="project_one">
    </div>

    <div class="project_one_context">
      <div class='proj-wrapper'>
        <p class="project_description">
          <a href='###'><h5 class="project_title"><span class='highlight-title'>Project #1</span></h5></a>
            <span class='highlight-desc'>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>
        </p>
        <a href='###'  class="waves-effect waves-light btn square-btn navigate">Read more</a>
      </div>
    </div>

    <div class="project_two">
    </div>
    <div class="project_two_context">
      <div class='proj-wrapper'>
        <p class="project_description">
          <a href='###' target='_blank'><h5 class="project_title"><span class='highlight-title'>Project #2</span></h5></a>
          <span class='highlight-desc'>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </span>
        </p>
        <a href='###' target='_blank' class="waves-effect waves-light btn square-btn navigate">Explore</a>
      </div>
    </div>
    <div class="project_three">
    </div>
    <div class="project_three_context">
      <div class='proj-wrapper'>
        <p class="project_description">
          <a href='###'><h5 class="project_title"><span class='highlight-title'>Project #3</span></h5></a>
          <span class='highlight-desc'>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>
        </p>
        <a href='###' class="waves-effect waves-light btn square-btn navigate">Read More</a>
      </div>
    </div>
    <div class="project_four">
    </div>
    <div class="project_four_context">
      <div class='proj-wrapper'>
        <p class="project_description">
          <a href='###'><h5 class="project_title"><span class='highlight-title'>Project #4</span></h5></a>
            <span class='highlight-desc'>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>
        </p>
        <a href='###' class="waves-effect waves-light btn square-btn navigate">Read More</a>
      </div>
    </div>
    <div class="project_five">
    </div>
    <div class="project_five_context">
      <div class='proj-wrapper'>
        <p class="project_description">
          <a href='###'><h5 class="project_title"><span class='highlight-title'>Project #5</span></h5></a>
            <span class='highlight-desc'>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>
        </p>
        <a href='###'  class="waves-effect waves-light btn square-btn navigate">Go to site</a>
      </div>
    </div>
  </div> -->
</div>

<!-- Medium Post section (the Medium widget should already be loaded, just edit the handle below) -->
<!-- EDIT CONTENT BELOW -->
<!-- Change your medium handle below at the @ symbol -->
  <div class="mid1" id="medium">
    <div class="medium-logo">
      <!-- <img src="../../../assets/mediumlogo.svg" /> -->
      <div class="section4-header"><h1>Experience</h1></div>

    </div>
    <section class="section experiences-section">
      <!-- <h2 class="section-title"><i class="fa fa-bar-chart"></i>Software Engineering Experience</h2> -->
      <!-- <div class="company"><a class="company-header" href="###" target="_blank">Current Company Name,</a> City, State</div> -->
      <hr>
      <div class="item">
            <div class="meta">
              <div class="upper-row">
                  <h4 class="job-title">Backend Developer - <a href="https://www.phantasm.biz/" target="_blank">Phantasm Soultions</a></h4>
                  <div class="time">01/2021 - 08/2021</div>
              </div><!--//upper-row-->
          </div><!--//meta-->
          <div class="details">
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-angle-right"></i>Develop a new features on a Web Application for medical tourism service (England)</li>
              <li><i class="fa-li fa fa-angle-right"></i>Fixing bugs on a Web Application for forecasting and assisting startups.</li>
            </ul>
          </div><!--//details-->
          <br>
          <div class="meta">
              <div class="upper-row">
                  <h4 class="job-title">Web Developer - <a href="https://clinmax.net/" target="_blank">Clinmax</a> </h4>
                  <div class="time">05/2020 - 04/2021</div>
              </div><!--//upper-row-->
          </div><!--//meta-->
          <div class="details">
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-angle-right"></i>Build an IWRS System (clincal research) for register and randomize patients into a trail with controlling the inventory of study's drugs</li>
              <li><i class="fa-li fa fa-angle-right"></i>Collecting Requirments and communicate with client side </li>
            </ul>
          </div><!--//details-->
          <br>
          <div class="meta">
              <div class="upper-row">
                  <h4 class="job-title">Software Project Manager - <a href="https://www.phantasm.biz/" target="_blank">Phantasm Soultions</a></h4>
                  <div class="time">1/2019 - 10/2019</div>
              </div><!--//upper-row-->
          </div><!--//meta-->
          <div class="details">
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-angle-right"></i>Gathering requirments from clinets (some of them abroad)</li>
              <li><i class="fa-li fa fa-angle-right"></i>Write user stories and plan sprints, deadlines</li>
              <li><i class="fa-li fa fa-angle-right"></i>Follow up with techincal, Testing teams</li>
            </ul>
          </div><!--//details-->
      </div><!--//item-->

      <!-- <div class="company"><a class="company-header" href="###" target="_blank">Previous Company Name,</a> City, State</div> -->
      <div class="item">
          <div class="meta">
              <div class="upper-row">
                  <h4 class="job-title">Web Developer - <a href="https://www.linkedin.com/company/easykasheg/" target="_blank">Payme Crop</a> </h4>
                  <div class="time">10/2017 - 02/2019</div>
              </div><!--//upper-row-->
          </div><!--//meta-->
          <div class="details">
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-angle-right"></i>Working on online payment web application, developing features (payment gateway integration, promotions and reports for users and managements team) </li>
              <li><i class="fa-li fa fa-angle-right"></i>Building restful apis for mobile application</li>
            </ul>
          </div><!--//details-->
          <br>
          <!-- <div class="meta">
              <div class="upper-row">
                  <h3 class="job-title">Previous Job Title</h3>
                  <div class="time">October 2015 - August 2017</div>
              </div>
          </div>
          <div class="details">
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-angle-right"></i>Job responsibility one.</li>
              <li><i class="fa-li fa fa-angle-right"></i>Job responsibility two.</li>                </ul>
          </div>-->
      </div>
  </section>
    <!-- <div class="medium-posts" >
        <ngx-medium-widget resource="https://medium.com/@zdalexander"
        postsLimit="4"
        postsPerLine="1"
        pictureSize="small"
        [postfields]="['description', 'publishAt','claps']"
        postRatio="landscape">
      </ngx-medium-widget>


    </div> -->
  </div>


<!-- Final section area (feel free to delete if you do not have any utility for it!) -->
  <!-- EDIT CONTENT BELOW -->
<div class="section4" id='section4'>
  <div class="section4-header">My Education</div>
  <div class="education-container container-block">
    <div class="item">
        <h4 class="degree">Postgraduate Diploma of Artificial Intelligence (AI) </h4>
        <h5 class="meta">Information Technology Institute (ITI), Cairo, Egypt</h5>
        <div class="time">4/2021-1/2022</div>
    </div><!--//item-->
    <hr>
    <div class="item">
      <h4 class="degree">Pre-Master: Computer Science and AI</h4>
      <h5 class="meta">Faculty of Scinece, Cairo University</h5>
      <div class="time">9/2020-6/2021</div>
    </div>
    <hr>
    <div class="item">
      <h4 class="degree">BSc: Computer Science</h4>
      <h5 class="meta">Faculty of Scinece, Cairo University</h5>
      <div class="time">2014-2019</div>
    </div>
</div>
</div>

<!-- Footer component loaded -->

<app-footer></app-footer>
