<div class="wrapper">
  <div class="sidebar-wrapper">
      <div class="profile-container">
          <h1 class="name">Omar Wael</h1>
          <h3 class="tagline">Data Scientist</h3>
      </div><!--//profile-container-->

      <div class="contact-container container-block">
        <h2 class="container-block-title">Contact</h2>
          <ul class="list-unstyled contact-list">
              <li class="email"><i class="fa fa-envelope"></i><a href="###">omarwaelattia96@gmail.com</a></li>
              <li class="phone"><i class="fa fa-phone"></i><a href="###">+201021186028</a></li>
              <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/omarwael/" target="_blank">linkedin/omarwael</a></li>
              <!-- <li class="medium"><i class="fa fa-medium"></i><a href="###" target="_blank">medium/...</a></li> -->
              <li class="github"><i class="fa fa-github"></i><a href="https://github.com/omar1890" target="_blank">github/omar1890</a></li>
              <!-- <li class="twitter"><i class="fa fa-twitter"></i><a href="###" target="_blank">@...</a></li> -->
          </ul>
      </div><!--//contact-container-->
      <div class="education-container container-block">
          <h2 class="container-block-title">Education</h2>
          <div class="item">
              <h4 class="degree">Postgraduate Diploma of Artificial Intelligence (AI) </h4>
              <h5 class="meta">-Information Technology Institute (ITI), Cairo, Egypt <br>-School of Engineering and Computer Science (EPITA), Paris, France </h5>
              <div class="time">4/2021-1/2022</div>
          </div><!--//item-->
          <div class="item">
            <h4 class="degree">Pre-Master: Computer Science and AI</h4>
            <h5 class="meta">Faculty of Scinece <br> Cairo University</h5>
            <div class="time">9/2020-6/2021</div>
          </div>
          <div class="item">
            <h4 class="degree">BSc: Computer Science</h4>
            <h5 class="meta">Faculty of Scinece <br> Cairo University</h5>
            <div class="time">2014-2019</div>
          </div>
      </div><!--//education-container-->

  </div><!--//sidebar-wrapper-->

  <div class="main-wrapper">

      <section class="section summary-section">
          <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
          <hr>
          <div class="summary">
              <p>A Machine Learning Engineer passionate about cutting-edge technology and solving real-world problems with
                two years of experience as Software engineer working on various scales of web apps which solves main
                problems in users daily life </p>
          </div><!--//summary-->
      </section><!--//section-->

      <section class="section experiences-section">
          <h2 class="section-title"><i class="fa fa-bar-chart"></i>Software Engineering Experience</h2>
          <!-- <div class="company"><a class="company-header" href="###" target="_blank">Current Company Name,</a> City, State</div> -->
          <hr>
          <div class="item">
                <div class="meta">
                  <div class="upper-row">
                      <h3 class="job-title">Backend Developer - <a href="https://www.phantasm.biz/" target="_blank">Phantasm Soultions</a></h3>
                      <div class="time">01/2021 - 08/2021</div>
                  </div><!--//upper-row-->
              </div><!--//meta-->
              <div class="details">
                <ul class="fa-ul">
                  <li><i class="fa-li fa fa-angle-right"></i>Develop a new features on a Web Application for medical tourism service (England)</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Fixing bugs on a Web Application for forecasting and assisting startups.</li>
                </ul>
              </div><!--//details-->
              <br>
              <div class="meta">
                  <div class="upper-row">
                      <h3 class="job-title">Web Developer - <a href="https://clinmax.net/" target="_blank">Clinmax</a> </h3>
                      <div class="time">05/2020 - 04/2021</div>
                  </div><!--//upper-row-->
              </div><!--//meta-->
              <div class="details">
                <ul class="fa-ul">
                  <li><i class="fa-li fa fa-angle-right"></i>Build an IWRS System (clincal research) for register and randomize patients into a trail with controlling the inventory of study's drugs</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Collecting Requirments and communicate with client side </li>
                </ul>
              </div><!--//details-->
              <br>
              <div class="meta">
                  <div class="upper-row">
                      <h3 class="job-title">Software Project Manager - <a href="https://www.phantasm.biz/" target="_blank">Phantasm Soultions</a></h3>
                      <div class="time">1/2019 - 10/2019</div>
                  </div><!--//upper-row-->
              </div><!--//meta-->
              <div class="details">
                <ul class="fa-ul">
                  <li><i class="fa-li fa fa-angle-right"></i>Gathering requirments from clinets (some of them abroad)</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Write user stories and plan sprints, deadlines</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Follow up with techincal, Testing teams</li>
                </ul>
              </div><!--//details-->
          </div><!--//item-->

          <!-- <div class="company"><a class="company-header" href="###" target="_blank">Previous Company Name,</a> City, State</div> -->
          <div class="item">
              <div class="meta">
                  <div class="upper-row">
                      <h3 class="job-title">Web Developer - <a href="https://www.linkedin.com/company/easykasheg/" target="_blank">Payme Crop</a> </h3>
                      <div class="time">10/2017 - 02/2019</div>
                  </div><!--//upper-row-->
              </div><!--//meta-->
              <div class="details">
                <ul class="fa-ul">
                  <li><i class="fa-li fa fa-angle-right"></i>Working on online payment web application, developing features (payment gateway integration, promotions and reports for users and managements team) </li>
                  <li><i class="fa-li fa fa-angle-right"></i>Building restful apis for mobile application</li>
                </ul>
              </div><!--//details-->
              <br>
              <!-- <div class="meta">
                  <div class="upper-row">
                      <h3 class="job-title">Previous Job Title</h3>
                      <div class="time">October 2015 - August 2017</div>
                  </div>
              </div>
              <div class="details">
                <ul class="fa-ul">
                  <li><i class="fa-li fa fa-angle-right"></i>Job responsibility one.</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Job responsibility two.</li>                </ul>
              </div>-->
          </div>
      </section><!--//section-->

      <section class="section projects-section">
          <h2 class="section-title"><i class="fa fa-black-tie"></i>Internships</h2>
          <hr>
          <div class="item">
            <div class="meta">
                <div class="upper-row">
                    <h3 class="job-title">Predictive analysis - IBM</h3>
                    <div class="time">08/2019</div>
                </div><!--//upper-row-->
            </div><!--//meta-->
            <div class="details">
              <ul class="fa-ul">
                <li><i class="fa-li fa fa-angle-right"></i>Data mining principles</li>
                <li><i class="fa-li fa fa-angle-right"></i>Working with SPSS modeluar</li>
                <li><i class="fa-li fa fa-angle-right"></i><a href="https://www.credly.com/badges/fc30fe76-8f8c-4c5e-a698-ce6766321806" target="_blank">Earning Predictive Analytics Modeler - Mastery Award 2018 </a></li>
              </ul>
            </div><!--//details-->
        </div><!--//item-->
          <!-- <div class="company"><a class="company-header" href="###" target="_blank">Previous Company Name,</a> City, State</div> -->
          <div class="item">
              <div class="meta">
                  <div class="upper-row">
                      <h3 class="job-title">Web School - Motoon</h3>
                      <div class="time">May 2012 - August 2012</div>
                  </div><!--//upper-row-->
              </div><!--//meta-->
              <div class="details">
                <ul class="fa-ul">
                  <li><i class="fa-li fa fa-angle-right"></i>Linux Administration</li>
                  <li><i class="fa-li fa fa-angle-right"></i>Frontend - backend</li>                     </ul>
              </div><!--//details-->
          </div><!--//item-->
      </section>


  </div><!--//main-body-->
</div>
